branches:
  only:
    - master

version: 0.1.{build}

os: Visual Studio 2015
install:
  - set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%

before_build:
  nuget restore "src/YAWL.Composition/YAWL.Composition.sln"

configuration: AppVeyor
platform:
 - x86
 - x64
 - ARM
 - Any CPU

build:
  parallel: true
  project: src/YAWL.Composition/YAWL.Composition.sln
  verbosity: normal
